{
	"env": {
		"node": true
	},
	"extends": [
		"eslint:recommended"
	],
	"parserOptions": {
		"ecmaVersion": 2020,
		"sourceType": "module"
	},
	"ignorePatterns": [
		".github/**/*",
		".vscode/**/*",
		"node_modules/**/*",
		"tests/**/*",
		"tmp/**/*",
		".editorconfig",
		".gitignore",
		".npmignore",
		".nvmrc",
		"package-lock.json",
		"README.md"
	],
	"rules": {
		"indent": ["error", "tab"],
		"eol-last": ["error", "always"],
		"no-unused-vars": [
			"error", 
			{
				"argsIgnorePattern": "^_"
			}
		],
		"no-console": [
			"error",
			{
				"allow": ["info", "warn", "error"]
			}
		]
	}
}
  
  